@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Solway', serif;
    animation: pulse 3s;
}

/* ---- Global Class ---- */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.see-more {
    display: flex;
}

.see-more .s-text {
    font-size: 15px;
    letter-spacing: .8px;
    margin: 15px 10px 0 0;
}

.home-links {
    padding: 2px;
    background: #fff;
    border-radius: 5px;
    font-size: 17px;
}
/* ----x Global Classx ---- */

section .nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 55px 18px;
    font-size: 18px;
    margin-top: 20px;
}

section .nav .nav-list {
    display: flex;
}

.nav .nav-list .lists {
    margin-right: 20px;
}

.hambugger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #101010;
}

header .header {
    width: 75%;
    margin: 0 auto;
    margin-top: 35px;
}

.header .header .nav-logo h1 {
    font-weight: 500;
}

.my-name {
    font-size: 65px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    position: relative;
    z-index: -1;

}

.my-name::after, .my-name::before {
    content: "I'm Abdullah Jimoh";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #222222;
    text-shadow: 2px 0 #F9F8F8, -1px 0 red, -2px 0 blue;
    overflow: hidden;
    animation: crt-me 2500ms infinite linear alternate-reverse;
}


.header .header-text .description {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

section .container {
    width: 75%;
    margin: 0 auto;
}

.container .text-p h2,
.container .text-heading h1 {
    margin: 20px 0;
}

.text-p .my-reads .reads {
    margin: 20px 0;
}

.text-p .skills {
    margin-bottom: 15px;
}

.text-p .description {
    letter-spacing : 2px;
}

.my-reads .reads .tutor {
    font-size: 12px;
}

.my-reads .reads .year {
    float: right;
}


footer .container .sm-icons {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 28px;
}

.container .sm-icons .icons {
    margin: 12px 28px 12px 0;
}


/* ----Keyframes ----- */

@keyframes pulse {
    0% {
        background: #001F3F;        
    }
    100%  {
        background: #c2c2c2 ;
    }
}

@keyframes crt-me {
    0% {
      clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
      clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
      clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
      clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
      clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(82px, 9999px, 64px, 0);
    }
  }


/* ---- Media Query ----- */
@media only screen and (max-width: 990px) {
    .nav-list {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        left: 0;
    }

    .lists {
        margin: 2.5rem 0;
    }

    .hambugger {
        display: block;
        cursor: pointer;
    }

    .hambugger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambugger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambugger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    footer .container {
        background: #222222;
    }
}

@media only screen and (max-width: 768px) {
    section .nav {
        padding: 34px 10px;
    }

    header .header {
        margin-top: 25px;
    }

    .my-name {
        margin-bottom: 25px;
    }
}